
{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
    <h1>Update your to do</h1>
    <form action="/update/{{todo.Sno}}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" class="form-control" value="{{todo.title}}" name="title" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Todo Description</label>
          <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
      </form>
  </div>
{% endblock body %}

